networks:
  public-traefik:
    external: true
  private-traefik:
    external: true


volumes:
  gitea:
    driver: local
  mysql-data:
    driver: local

services:
  gitea:
    image: docker.gitea.com/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=${DB_USER}
      - GITEA__database__PASSWD=${DB_PASSWORD}
      - GITEA__mailer__ENABLED=true
      - GITEA__mailer__FROM=${GITEA__mailer__FROM:?GITEA__mailer__FROM not set}
      - GITEA__mailer__PROTOCOL=smtps
      - GITEA__mailer__SMTP_ADDR=${GITEA__mailer__SMTP_ADDR:?GITEA__mailer__SMTP_ADDR not set}
      - GITEA__mailer__SMTP_PORT=${GITEA__mailer__SMTP_PORT:?GITEA__mailer__SMTP_PORT not set}
      - GITEA__mailer__USER=${GITEA__mailer__USER:-apikey}
      - GITEA__mailer__PASSWD="""${GITEA__mailer__PASSWD:?GITEA__mailer__PASSWD not set}"""
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"

      # cloudflare経由のルーティング
      - "traefik.public=true"
      - "traefik.http.routers.gitea-public.rule=Host(`${APP_HOST}`)"
      - "traefik.http.routers.gitea-public.entrypoints=websecure"
      - "traefik.http.routers.gitea-public.tls=true"
      - "traefik.http.routers.gitea-public.tls.certresolver=le"
      - "traefik.http.routers.gitea-public.middlewares=access-allow-chain@docker"

      # vpn経由のルーティング
      - "traefik.private=true"
      - "traefik.http.routers.gitea-private.rule=Host(`${APP_HOST}`)"
      - "traefik.http.routers.gitea-private.entrypoints=websecure"
      - "traefik.http.routers.gitea-private.tls=true"
      - "traefik.http.routers.gitea-private.tls.certresolver=le"
      - "traefik.http.routers.gitea-private.middlewares=access-allow-chain@docker"

    restart: always
    networks:
      - default
      - public-traefik
      - private-traefik
    volumes:
      - gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "2222:22"
    depends_on:
      - db

  db:
    image: docker.io/library/mysql:8
    restart: always
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD="yes"
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=gitea
    networks:
      - default
    volumes:
      - mysql-data:/var/lib/mysql
